:root {
  --Pcolor: rgb(127, 0, 31);
  --Scolor: rgb(255, 129, 6);
  --Hover: rgb(254, 195, 77);
  --Green: rgb(50,200, 50);
  --Blue: rgb(0, 123, 255);
  --Grey: rgb(194, 194, 194);
  --Shadow: rgba(34, 36, 38, 0.2);
  --Background: rgb(234, 234,234);
  --Error: rgb(255, 43, 0);;
  --mainWhite: #fff;
  --mainBlack: #222;
  --Spacing: 1px;
  --BorderRadius: 4px;
  --Transition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:hover {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}
button:focus, input:focus, textarea:focus {
  outline: none;
}
ul {
  margin: 0px;
}
li{
  list-style: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--Shadow);
  -webkit-text-fill-color: var(--mainBlack);
  box-shadow: 0 0 0px 1000px var(--mainWhite) inset;
  -webkit-box-shadow: 0 0 0px 1000px var(--mainWhite) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.app {
  font-size: 13px;
}