:root {
  --Pcolor: rgb(145, 121, 40);
  --Scolor: rgb(252, 5, 5);
  --mainWhite: #fff;
  --mainBlack: #222;
  --Spacing: 2px;
  --BorderRadius: 4px;
  --Transition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:hover {
  text-decoration: none;
  color: unset;
}
button:focus {
  outline: none;
}
ul {
  margin: 0px;
}
li{
  list-style: none;
}

.app {
  font-size: 16px;
}